name: BookCart Cypress Container tests
on: 
    workflow_dispatch:
    push:
        branches: 
            - main
jobs:
    testing:
        runs-on: ubuntu-latest
        container: 
          image: cypress/browsers:node-20.6.1-chrome-116.0.5845.187-1-ff-117.0-edge-116.0.1938.76-1
        strategy:
          fail-fast: false # https://github.com/cypress-io/github-action/issues/48
          matrix:
            containers: [1, 2] # Uses 2 parallel instances       
        steps:
        - name: Get repository code
          uses: actions/checkout@v4
        - name: Install dependencies
          run: npm ci 
        - name: Run the tests
          run: |
            npx cypress cache path
            npx cypress run --record --key=${{ secrets.CYPRESS_RECORD_KEY }} --parallel
        - name: Generate report
          run: npm run generate:report
          if: failure()||success()
        - name: Save report
          uses: actions/upload-artifact@v3
          with:
            path: mochawesome-report
            name: Test report
          if: failure()||success()
        - name: Get test report
          uses: actions/download-artifact@v3
          with:
            name: Test report
          if: failure()||success()